<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.mapper.AdminMapper">

    <insert id="createAccess" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_access(`name`,path) VALUES(#{name},#{path})
        ON DUPLICATE KEY UPDATE `name`=#{name},path=#{path}
    </insert>

    <delete id="deleteAccess">
        DELETE FROM sys_access WHERE id=#{id}
    </delete>

    <update id="updateAccess">
        UPDATE sys_access SET `name`=#{name},path=#{path} WHERE id=#{id}
    </update>

    <select id="getAccess" resultType="SysAccess">
        select * from sys_access
    </select>

</mapper>