<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.mapper.LoginMapper">
    <resultMap id="BaseResultMap" type="SysAdmin">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="enabled" property="enabled"/>
        <collection property="roles" ofType="SysRole">
            <id column="r_id" property="id"/>
            <result column="name" property="name"/>
            <result column="desc" property="desc"/>
        </collection>
    </resultMap>

    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT a.id,a.username,a.`password`,a.enabled,
        sr.`name`,sr.`desc`,sr.id r_id
        FROM `sys_admin` a
        LEFT JOIN sys_admin_roles sa ON sa.sys_admin_id=a.id
        LEFT JOIN sys_role sr ON sr.id=sa.roles_id
        WHERE a.username=#{username}
    </select>

</mapper>